/* @property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.border::after, .border::before{
    content: '';
    position: absolute;
    height: 82%;
    width: 45%;
    background-image: conic-gradient(from var(--angle), transparent 50%, gray);
    translate: -50%, -50%;
    bottom: 59px;
    right: 120px;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}

.card::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
} */